*.rs merge=yggdrasil
*.ts merge=yggdrasil
*.tsx merge=yggdrasil
*.js merge=yggdrasil
*.py merge=yggdrasil
*.go merge=yggdrasil
*.toml merge=yggdrasil
*.json merge=yggdrasil
*.yaml merge=yggdrasil
*.yml merge=yggdrasil
*.java merge=yggdrasil
*.c merge=yggdrasil
*.cpp merge=yggdrasil
*.h merge=yggdrasil
*.hpp merge=yggdrasil
*.sh merge=yggdrasil
*.bash merge=yggdrasil
*.zig merge=yggdrasil
*.css merge=yggdrasil
*.html merge=yggdrasil
*.sql merge=yggdrasil
*.proto merge=yggdrasil
*.md merge=yggdrasil
*.markdown merge=yggdrasil
